p {
  color: white;
  margin: 0px 0px 0px 0px;
}

h1 {
  margin: 0px 0px 0px 0px;
  color: white;
}

body {
  background-color: #0d1117;
  margin: 0;
  padding: 280px 100px 0px 100px;
  font-family: roboto, Arial;
}

.skills-section,
.projects-section,
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(37, 39, 68);
}

.projects-section,
.contact-section {
  animation: fade-in-right 1s;
}

.skills-header,
.projects-header,
.contact-header {
  margin: 30px;
  text-shadow: 1px 0px 10px rgba(255, 255, 255, 0.7);
}


@media only screen and (max-width: 500px) {
  body {
    padding: 150px 60px 0px 60px;
  }
}

/* KEYFRAMES ANIMATION */
@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}
